/* ----------------------------------------------------------------
    Dark Scheme
-----------------------------------------------------------------*/


.dark,
.dark h4 { color: #EEE; }

.dark a:hover { color: #EEE; }

.dark .entry-meta li {
    border-left-color: rgba(255,255,255,0.08);
    color: #888;
}

.dark .spost { border-top-color: rgba(255,255,255,0.1); }

.dark .spost .entry-title h4 a { color: #BBB; }

.dark .spost .entry-title h4 a:hover { color: #999; }

.dark .spost .entry-meta li { border-left-color: #666; }

.dark .social-icon {
    color: #DDD !important;
    border-color: #DDD;
}

#footer.dark .social-icon.si-borderless { color: #555 !important; }

.dark .social-icon i:last-child { color: #FFF !important; }

.dark .social-icon:hover {
    color: #FFF !important;
    border-color: transparent;
}


#footer.dark {
    background-color: #333;
    color: #CCC;
    border-top-color: rgba(0,0,0,0.2);
}

.dark #copyrights {
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.dark .copyright-links a {
    color: rgba(255,255,255,0.25);
    border-bottom-color: rgba(255,255,255,0.25);
}

.dark .copyright-links a:hover {
    color: rgba(255,255,255,0.35);
    border-bottom-color: rgba(255,255,255,0.35);
}


.dark .footer-widgets-wrap a { color: #CCC; }

.dark .footer-widgets-wrap a:hover { color: #999; }

.dark .widget h4 { color: #DDD; }

.dark .widget p { opacity: 0.8; }


/* Dark Scheme - Bootstrap
-----------------------------------------------------------------*/












