@media print {
  html { width:8.5in; }
  body {
    font: 9pt/1.5 Arial, sans-serif;
    background: none;
  }
  header {
    display: none;
  }
  .wrapper section {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    width: auto;
    max-width: 8.5in;
  }
  nav {
    display: none;
  }
  footer {
    display: none;
  }
  hr {
    border-bottom: 1px dashed;
    height: 11px;
    margin: 0 0 20px;
  }
  ul {
    page-break-inside: avoid;
  }
  code {
    text-shadow: none;
    color: #efefef;
    background-color: #333;
  }
  .confidence .smiley {
    width: 30px;
  }
  .page-break {
    page-break-after: always;
  }
  .exercise h2 {
    page-break-before: always;
  }
  .exercise h2.alpha {
    page-break-before: avoid;
    margin: 0 0 10px;
    font-size: 24px;
  }
  .exercise h2.alpha a {
    text-decoration: none;
    color: #393939;
    font-weight: bolder;
  }
  .overview h2 {
    page-break-before: avoid;
  }
  h2.no-break {
    page-break-before: avoid;
    page-break-after: avoid;
  }
}