<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {{ if page.page_title }}
      <title>{{ page.page_title }} - Chuck Lauer Vose</title>
    {{ else }}
      <title>Chuck Lauer Vose</title>
    {{ endif }}
    <link rel="stylesheet" href="/stylesheets/styles.css" media="all">
    <link rel="stylesheet" href="/stylesheets/print.css" media="print">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body class="{{ page.body_classes }}">
    <header>
      <a href="/"><h1>Chuck Lauer Vose</h1></a>
      <p></p>
    </header>

    <div id="banner">
      <span id="logo"></span>
      <a href="https://github.com/vosechu" class="button fork"><strong>View On GitHub</strong></a>
      <ul>
        <li>
          <a href="/" class="button"><strong>Home</strong></a>
        </li>
      </ul>
    </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <div class="pages">
          <h3>Navigation</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="http://www.portlandcodeschool.com">Portland Code School</a></li>
            <li><a href="/exercises/overview.html">Exercises</a></li>
            <li><a href="/curriculum/performance-metrics.html">Metrics</a></li>
          </ul>
        </div>
      </nav>
      <section>
        {{ content }}
      </section>
      <footer>
        <h2>Find me</h2>
        <a href="http://www.twitter.com/vosechu"><img src="/images/twitter.png" alt="twitter" width="32"></img></a>
        <a href="http://www.linkedin.com/in/vosechu"><img src="/images/linkedin.png" alt="linkedin" width="32"></img></a>
        <a href="http://www.github.com/vosechu"><img src="/images/github.png" alt="github"></img></a>
        <a href="mailto:cvose@portlandcodeschool.com"><img src="/images/mail.png" alt="email" width="32"></img></a>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></small></p>
      </footer>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
    </div>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-37234345-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>