<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Chuck Lauer Vose" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  {% if site.title %}
    <meta content="{{ site.title }}" property="og:site_name">
  {% endif %}
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% elsif post.title %}
    <meta content="{{ post.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
    <meta content="article" property="og:type">
  {% elsif post.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
  {% elsif post.description %}
    <meta content="{{ post.description }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
    <meta content="{{ page.url | absolute_url }}" property="og:url">
  {% elsif post.url %}
    <meta content="{{ post.url | absolute_url }}" property="og:url">
  {% endif %}
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
  {% elsif post.date %}
    <meta content="{{ post.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}
  {% if page.image %}
    <meta content="{{ site.url }}/images/pages/{{ page.image }}" property="og:image">
  {% elsif post.image %}
    <meta content="{{ site.url }}/images/posts/{{ post.image }}" property="og:image">
  {% else %}
    <meta content="{{ site.url }}/images/orange_rose_transparent.png" property="og:image">
  {% endif %}
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if post.categories %}
    {% for category in post.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}
  {% if post.tags %}
    {% for tag in post.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

  <!-- Stylesheets ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/pygment_trac.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/overrides.css" type="text/css" />

  <!-- External JavaScripts ============================================= -->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- Document Title ============================================= -->
  {% if page.title %}
    <title>{{ page.title }} - Chuck Lauer Vose</title>
  {% elsif post.title %}
    <title>{{ post.title }} - Chuck Lauer Vose</title>
  {% else %}
    <title>Chuck Lauer Vose</title>
  {% endif %}
</head>
<body class="stretched {{ page.body_classes }}">
  <!-- Document Wrapper ============================================= -->
  <div id="wrapper" class="clearfix">
    <!-- Top Bar ============================================= -->
    <header id="top-bar">
      <div class="container clearfix">
        <div class="col_half nobottommargin">
          <!-- Top Links ============================================= -->
          <div class="top-links">
            <ul>
              <li><a href="/"><h1>Chuck Lauer Vose</h1></a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/blog.html">Blog</a></li>
              <li><a href="/talks.html">Talks</a></li>
            </ul>
          </div><!-- .top-links end -->
        </div>
        <div class="col_half fright col_last nobottommargin">
          <!-- Top Social ============================================= -->
          <div id="top-social">
            <ul>
              <li><a href="http://www.twitter.com/vosechu" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
              <li><a href="http://www.github.com/vosechu" class="si-github"><span class="ts-icon"><i class="icon-github-circled"></i></span><span class="ts-text">Github</span></a></li>
              <li><a href="http://www.linkedin.com/in/vosechu" class="si-linkedin"><span class="ts-icon"><i class="icon-linkedin"></i></span><span class="ts-text">LinkedIn</span></a></li>
              <li><a href="tel:5033676226" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">(503) 367-6226</span></a></li>
              <li><a href="mailto:vosechu@gmail.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">vosechu@gmail.com</span></a></li>
            </ul>
          </div><!-- #top-social end -->
        </div>
      </div>
    </header><!-- #top-bar end -->
    <!-- Content ============================================= -->
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">
          <!-- Post Content ============================================= -->
          <div class="postcontent nobottommargin col_last clearfix">
            {{ content }}
          </div><!-- .postcontent end -->
          <!-- Sidebar ============================================= -->
          <div class="sidebar nobottommargin clearfix">
            <div class="sidebar-widgets-wrap">
              <div class="widget clearfix">
                <h4>Recent Nuggets</h4>
                <ul>
                  {% for post in site.categories.nuggets limit:5 %}
                    <li>
                      <a href="{{ post.url }}">{{post.title | truncate:35 }}</a><br />
                      {{ post.date | date: '%B %d, %Y' }}
                    </li>
                  {% endfor %}
                </ul>
                <h4>Recent Posts</h4>
                <ul>
                  {% for post in site.categories.tech limit:5 %}
                    <li>
                      <a href="{{ post.url }}">{{post.title | truncate:35 }}</a><br />
                      {{ post.date | date: '%B %d, %Y' }}

                    </li>
                  {% endfor %}
                </ul>
              </div>

<!--               <div class="widget clearfix">
                <h4>Favorite Posts</h4>
              </div>

              <div class="widget clearfix">
                <h4>Links</h4>
              </div> -->
            </div>
          </div><!-- .sidebar end -->
        </div>
      </div>
    </section><!-- #content end -->
    <!-- Footer ============================================= -->
    <footer id="footer" class="dark">
      <!-- Copyrights ============================================= -->
      <div id="copyrights">
        <div class="container clearfix">
          <div class="col_half">
            Copyrights &copy; 2014 All Rights Reserved by Chuck Lauer Vose.<br>
          </div>
          <div class="col_half col_last tright">
            <div class="fright clearfix">
              <a href="http://twitter.com/vosechu" class="social-icon si-small si-borderless si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="http://github.com/vosechu" class="social-icon si-small si-borderless si-github">
                <i class="icon-github-circled"></i>
                <i class="icon-github-circled"></i>
              </a>
              <a href="http://linkedin.com/in/vosechu" class="social-icon si-small si-borderless si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
            <div class="clear"></div>
            Email Chuck <a href="mailto:vosechu@gmail.com">vosechu@gmail.com</a> <span class="middot">&middot;</span> Call: <a href="tel:5033676226">(503) 367-6226</a>
          </div>
        </div>
      </div><!-- #copyrights end -->
    </footer><!-- #footer end -->
  </div><!-- #wrapper end -->

  <!-- Go To Top ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- Footer Scripts ============================================= -->
  <!-- <script type="text/javascript" src="/javascripts/functions.js"></script> -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-37234345-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>
